/* start of card */

.card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .card:hover {
    border-color: rgba(255, 255, 255, 0.2);  
    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    background-color: rgba(75, 75, 75, 0.4); 
  }

.title {
  font-weight: 900;
  font-size: 1.9em;
  letter-spacing: 1.2px;
  color: white;
}

.task {
padding-left: 10%;
padding-right: 10%;
}


.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

/* button starts */

button {
    display: flex;
    color: aqua;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: transparent;
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }

   .tech{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 20px;
   }
   