@media (min-width: 768px) {
    div {
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 0 !important;
    }
    div > div:last-child {
      max-height: 100% !important;
      margin-top: 50px;
      padding: 0 !important;
      overflow-y: scroll !important;
    }
  }